/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.pre-line {
    white-space: pre-line;
}
.nobr {
    white-space: nowrap;
}